---
import Logo from "@/components/core/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;

const has_social = Object.entries(social).some(
  ([key, value]) => key != "title" && value
);
---

<footer class="footer border-t border-border mx-2">
  <div  style="background-color:#F0FCFF" class="container flex flex-row justify-center items-center">
    <div class="gx-5 row  pt-[52px] flex flex-row justify-center ">
      <div class=" col-12 mt-12 md:col-6 lg:col-3 flex justify-center items-center">
        <div class="-mt-20 flex flex-col justify-center items-center">
          <Image
            class="object-contain"
            alt="section-image"
            src="/images/nanosafe/Recurso7.webp"
            width={50}
            height={50}
          />
          <Image
            class="object-contain"
            alt="section-image"
            src="/images/nanosafe/letraslogo.png"
            width={200}
            height={200}
          />
          <div class="flex justify-center items-center">
            <Image
              class="object-contain"
              alt="section-image"
              src="/images/nanosafe/logocorfo.png"
              width={150}
              height={150}
            />
          </div>
        </div>




      </div>
      {
        has_social && (
          <>

            <div class=" ml-20 col-12 mt-12 md:col-6 lg:col-3 ">
              <h6 style="color:#00B2E2" >Enlaces rápidos</h6>
              <ul class="-mt-3 ">
                {footer.map((item, i) => (
                  <li class={footer.length - 1 === i ? "mb-0" : "mb-2"}>
                    <a style="color:#4E4E4E"
                      class="hover:text-primary hover:underline "
                      href={item.url}
                    >
                      {item.name}
                    </a>
                  </li>
                ))}
              </ul>

            </div>

          </>
        )
      }
      <div class=" ml-20 col-14 mt-12  md:col-7 lg:col-2 ">

        <h6 style="color:#00B2E2">Contactos</h6>
        <ul>
          <li class="">
            <a style="color:#4E4E4E" class="-mt-3 hover:text-primary hover:underline" href={`tel:${phone}`}>
              {phone}
            </a>
          </li>
          <div class="flex row mt-12">
            <h6 style="color:#00B2E2" >{social.title ?? "Redes Sociales"}</h6>
            <Social source={social} className="social-icons -mt-5" />
          </div>
        </ul>
      </div>
      <div class="flex flex-row justify-center items-center pb-6" >
        <p class="text-center -mx-8 mt-8" >| All Rights Reserved | © 2025 by <a href="https://estudioslufke.cl/" class=" hover:text-cyan-500"> Estudios Lüfke |</a>
          </p>

      </div>
    </div>

  </div>
</footer>
