---
import Logo from "@/components/core/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { footer } = menu;
const { copyright, location, email, phone, footer_description } = config.params;

const has_social = Object.entries(social).some(
  ([key, value]) => key != "title" && value
);
---

<footer class="footer border-t border-border mx-4">
  <div class="container">
    <div class="gx-5 row pb-10 pt-[52px]">
      <div class="col-12 mt-12 md:col-6 lg:col-3">
        <div class="mt-50 flex">
          <Image
            class="object-contain"
            alt="section-image"
            src="/images/nanosafe/Recurso7.webp"
            width={50}
            height={50}
          />
          <Image
            class="object-contain"
            alt="section-image"
            src="/images/nanosafe/letraslogo.png"
            width={200}
            height={200}
          />
        </div>

        <div class="">
          <Image
            class="object-contain"
            alt="section-image"
            src="/images/nanosafe/logocorfo.png"
            width={150}
            height={150}
          />
        </div>


      </div>
      {
        has_social && (
          <>

            <div class=" ml-20 col-12 mt-12 md:col-6 lg:col-3">
              <h6>Enlaces rápidos</h6>
              <ul>
                {footer.map((item, i) => (
                  <li class={footer.length - 1 === i ? "mb-0" : "mb-4"}>
                    <a
                      class="hover:text-primary hover:underline "
                      href={item.url}
                    >
                      {item.name}
                    </a>
                  </li>
                ))}
              </ul>

            </div>

          </>
        )
      }
      <div class=" ml-20 col-14 mt-12  md:col-7 lg:col-4">

        <h6>Contactos</h6>
        <ul>
          <li class="-mt-7">
            <a class="hover:text-primary hover:underline" href={`tel:${phone}`}>
              {phone}
            </a>
          </li>
          <div class="flex row mt-6">
            <h6>{social.title ?? "Redes Sociales"}</h6>
            <Social source={social} className="social-icons -mt-5" />
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
